[submodule "food-service"]
	path = food-service
	url = https://github.com/Yneth/food-service
[submodule "food-ui-service"]
	path = food-ui-service
	url = https://github.com/Yneth/food-ui-service
[submodule "dash-hystrix-dashboard"]
	path = dash-hystrix-dashboard
	url = https://github.com/Yneth/dash-hystrix-dashboard
[submodule "dash-api-gateway"]
	path = dash-api-gateway
	url = https://github.com/Yneth/dash-api-gateway
[submodule "dash-config-service"]
	path = dash-config-service
	url = https://github.com/Yneth/dash-config-service
[submodule "dash-discovery-service"]
	path = dash-discovery-service
	url = https://github.com/Yneth/dash-discovery-service
